.toast-container {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem
}

.toast {
    background-color: green;
    width: 12rem;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    position: relative;
    animation: slideIn 1s 1;

    span {
        position: absolute;
        right: 1.5rem;
        font-size: 1rem;
        cursor: pointer;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}